body { 
font-size: 16px;
color: #fff;
background-color: #61122f;
 }

 #header-nav {
 	background-color: #f6b319;
 	border-radius: 0;
 	border: 0;
 }

#home-main-content-elements {
 	background-color: 	#007399;
 	margin-top: 20px
 }

 #home-main-content-elements-title {

 }

#home-main-content-elements-tiles {
 	background-color: #df55df;
 	width: 100%
 }

 #home-main-content-elements-tiles div h3 {
 	 	background-color: #d9b3ff;

 }

